<div>
  <h1 class="doNotRemoveMe">Hello world.</h1>
  <!-- ^ Do not remove this element ^ -->
  <div style="display: flex; justify-content: center;">
    <div>
      <h1>My Recipes</h1>
      <button class="button-style" *ngIf="!isFormVisible" (click)="isFormVisible = !isFormVisible">Add Recipe</button>
      <h4 *ngIf="isFormHasErrors">Please complete the form</h4>
      <form *ngIf="isFormVisible" (ngSubmit)="$event.preventDefault()">
        <div style="margin-bottom: 1rem;">
          <label for="Recipe name" style="margin-right: 3rem;">Recipe Name:</label>
          <input type="text" name="Recipe name" aria-label="Recipe name" role="textbox" #recipeName style="width: 15.6rem;" placeholder="Enter Recipe Name" />
        </div>
        <div>
          <label for="Recipe instructions" style="margin-right: 0.6rem;">Recipe Instructions:</label>
          <textarea #recipeInstructions role="textbox" name="Recipe instructions" aria-label="Recipe instructions" style="vertical-align: middle;" rows="4" cols="30"
            placeholder="Enter Recipe Instructions"></textarea>
        </div>
        <div>
          <button aria-label="submit button" style="margin-left: 15rem; margin-top: 1rem;" class="button-style"
            (click)="onSubmit(recipeName.value, recipeInstructions.value)">Save</button>
        </div>
      </form>
    </div>
  </div>
  <hr />
  <h4 *ngIf="recipes.length === 0">There are no recipes to list.</h4>
  <div *ngFor="let recipe of recipes" class="recipe" role="listitem">
    <div>
      Recipe Name: 
      <strong>{{ recipe.name }}</strong>
    </div>
    <div style="margin-top: 1rem;">
      <div>Recipe Instructions:</div>
      {{ recipe.instructions }}
    </div>
  </div>
</div>